.css-1y3lt7s{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    overflow: hidden;
}

.css-1f2zku2{
    z-index: -1;
    height: 100%;
    width: 890px;
    position: absolute;
    right: 0px;
    content: " ";
    background-image: url("../assets/lambdaProdQImg.jpg");
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
}

.css-18ybj3h {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    z-index: 5;
    right: 540px;
    transform-origin: 0px 0px;
    transform: skewX(-25deg);
    background: rgb(255, 255, 255);
}

.css-1x90pbl {
    bottom: 0px;
    right: 0px;
    position: absolute;
    height: 100%;
    z-index: 5;
    width: 250px;
    transform-origin: 100% 100%;
    transform: skewX(-25deg);
    background: rgb(255, 255, 255);
}