// Footer styling
.footer-pane {
    width: 100%;
    height: 15%;

    .css-footer-content-area {
        background-color: rgb(29, 35, 38);
        text-align: center;
        padding: 3% 0% 4%;

        @media @mobile {
            padding: 0% 5% 0% 13%;
        }

        .css-footer-content {
            margin-bottom: 3%;
            font-family: 'Nunito', sans-serif;
            width: 100%;

            @media @mobile{
                width: 100%;
            }

            .css-footer-social-media{
                display: inline-block;
            }

            a {
                display: inline-block;
                font-family: 'Nunito', sans-serif;
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
            
            a:not(:last-child) {
                margin-right: 40px;

            }
        }
    }

}

// Footer lambda logo
.css-footer-logo-block {
    width: 140px;
    height: 40px;
    margin: 0px 45%;

    @media @mobile{
        margin: 0% 30%;
    }

    .css-footer-logo-img {
        width: 140px;
        height: 40px;
        filter: invert(30%) sepia(0%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    }

}

// Footer social media images
.css-footer-social-media-img {
    width: 19px;
    height: 19px;
    position: relative;
    top: 3px;
    filter: invert(100%) sepia(10%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);

}


