
  body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0px;
  }

// Parent class for all the sections
  .css-sec-card {
    position: relative;
    padding: 150px 100px;
    margin: 0px;
    //border: 1px solid black;
    //overflow: hidden;
}